.series-detail-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.series-detail-description {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color:gray
}

.series-image {
  width: 100%;
  height: auto;
}

.items-background {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.top-bottom-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover; /* 이미지가 컨테이너에 맞게 조정되도록 설정 */
  border-radius: 12px;
}