/* 짝수 인덱스 요소의 배경색 설정 */
.product-container:nth-child(even) {
    background-color: #eeece5;
}

.product-container > * {
    margin-top: 30px;
    margin-bottom: 100px;
}

.product-title {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.product-description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color:gray
}

.card-img-top {
    height: 200px; /* 원하는 높이로 설정 */
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    flex-grow: 1;
}