.banner-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.banner-video {
    width: 100%;
    max-height: 60vh; /* 비디오의 최대 높이를 설정 */
    object-fit: cover; /* 비디오의 크기를 조정하여 컨테이너에 맞춤 */
}

.carousel,
.carousel-item {
    border-radius: 20px;
    overflow: hidden; /* 둥근 모서리가 잘리도록 설정 */
}