.banner-cover-img {
    height: 90vh;    
    object-fit: cover;
}

.banner-contain-img {
    height: 90vh;    
    object-fit: contain;
}

/* sm 사이즈(600px 이하)일 때 .custom-card:hover 스타일 비활성화 */
@media (max-width: 600px) {
    .banner-cover-img {
        height: 20vh;    
        object-fit: cover;
    }
    
    .banner-contain-img {
        height: 20vh;    
        object-fit: contain;
    }
}

/* sm 사이즈(600px 이하)일 때 .custom-card:hover 스타일 비활성화 */
@media (max-width: 900px) {
    .banner-cover-img {
        height: 40vh;    
        object-fit: cover;
    }
    
    .banner-contain-img {
        height: 40vh;    
        object-fit: contain;
    }
}