.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.custom-card > .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-card .card-text {
    flex-grow: 1;
}

.hover-zoom {
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.02);
}