.banner-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.carousel,
.carousel-item {
    border-radius: 20px;
    overflow: hidden; /* 둥근 모서리가 잘리도록 설정 */
    background-color: lightgray; /* 배경색을 회색으로 설정 */
}