.custom-card {
  border: none; /* 테두리 제거 */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: none; /* 그림자 제거 */
  transition: transform 0.3s;
}

.custom-card:hover {
  transform: scale(1.02);
}

/* sm 사이즈(600px 이하)일 때 .custom-card:hover 스타일 비활성화 */
@media (max-width: 600px) {
  .custom-card:hover {
    transform: none; /* transform 스타일을 초기화 */
  }
}
.card-img {
  width: 100%;
  aspect-ratio: 16 / 12;
  border-radius: 12px;
  background-color: #d3d3d3; /* 투명 이미지 대비 배경색 회색 */
  object-fit: cover;
}

.card-body {
  width: 100%;
  padding: 8px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 4px;
  color: black; /* 글씨 색상 검은색 */
  text-align: left; /* 좌측 정렬 */
}

.card-text {
  font-size: 1rem;
  color: gray; /* 글씨 색상 회색 */
  text-align: left; /* 좌측 정렬 */
}

.card-button {
  width: max-content;
  padding: 8px 16px;
  margin-top: 10px;
  font-size: 1rem;
  color: white;
  background-color: #214c98;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  text-align: left;
}

.card-button:hover {
  background-color: #173a6e;
}

.placeholder-img {
  width: 100%;
  aspect-ratio: 16 / 12;
  border-bottom: none; /* 테두리 제거 */
  border-radius: 12px;
  background-color: #d3d3d3; /* 투명 이미지 대비 배경색 회색 */
}