.footer-item {    
    margin-bottom: 1.5rem;
    white-space: nowrap;    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer-item > * {
    margin-bottom: 8px;
}

.footer-title {
    color: #f8f9fa; /* 제목 색상 */
    display: block;
    font-weight: bold; /* bold weight 설정 */
    text-align: left;
}

.footer-content {
    color: #adb5bd; /* 내용 색상 */
    display: block;
    word-wrap: break-word;
    white-space: normal; /* 줄바꿈 허용 */
    text-align: left;
}

.light-text {
    font-weight: 300; /* light weight 설정 */
}

.footer-logo {
    width: 100%;
}
  
@media (max-width: 992px) {
    .footer-logo {
        max-width: 50%;
        margin-bottom: 3rem;
    }
}

@media (max-width: 600px) {
    .footer-logo {
        max-width: 80%;
        padding: 1rem;        
    }
}