.header-background {        
    background-color: rgb(255, 255, 255); 
    position: sticky; /* 스티키 헤더로 설정 */
    top: 0; /* 페이지 상단에 고정 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}

.nav-style {
    width: 100%;
    justify-content: space-between;
    padding: 0 8rem;
}
  
/* 화면 크기가 sm 이하일 때 적용되는 스타일 */
@media (max-width: 992px) {
    .nav-style {
        padding: 0;
    }
}

.nav-item {
  position: relative;
}
  
.sub-menu {
    position: absolute;
    top: 100%; /* 부모 요소 바로 아래에 위치 */
    left: 0;
    width: 12rem; /* 부모 요소의 너비만큼 확장 */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 0.8rem;
}
  
.sub-nav-link {
  width: 100%;
  padding: 0.8rem;
  white-space: nowrap;
  color: black;
  text-decoration: none;
}
  
.sub-nav-link:hover {
  background-color: #f8f9fa;
  border-radius: 12px;
}
