.header-background {  
      
    background-color: rgb(255, 255, 255); /* 배경색을 반투명하게 설정 */
    position: sticky; /* 스티키 헤더로 설정 */
    top: 0; /* 페이지 상단에 고정 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
}

.nav-style {
    width: 100%;
    justify-content: space-between;
    padding: 0 8rem;
}
  
/* 화면 크기가 sm 이하일 때 적용되는 스타일 */
@media (max-width: 992px) {
    .nav-style {
        padding: 0;
    }
}